
.container-1
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap:6px;
}
.container-1 div
{
    border-style:solid;
    border-color: black; 
    border-radius: 1px;
    
}
.container-1 
{
    $countLighten : 10;
    $countDarknest: 20;
    @for $i from 1 through 10
    {       
        div:nth-child(#{$i})
        {
            @if $i >5{
                order:$i; 
                background-color: lighten(rgb(190, 32, 32), $countLighten);
                
                $countLighten : $countLighten  + 7;
            }
            @else if $i <5
            {                
                order:$i; 
                background-color: darken(rgb(190, 32, 32), $countDarknest);    
                $countDarknest: $countDarknest - 5;
            }
            @else
            {
                order:$i; 
                background-color: rgb(190, 32, 32);
            } 
            }          
        }
    }

