<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./mystyle.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <main class="grid">
        <article>
          <img src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" >
          <div class="text">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua.  
              </p>
            <button>Button</button>
          </div>
        </article>
      </main>
  </body>
</html>





