
nav {
  padding: 1em;
  font-family: 'font-family: Verdana, Geneva, sans-serif';
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1b9c7c;
}
nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}
nav li a:hover {
  background: rgb(8, 66, 54);
  color: white;
}

@media screen and (min-width: 680px) {
    nav ul {
      display: flex;
      flex-wrap:wrap;
    }
    nav li{
        flex-grow:1; 
        text-align:center;
      }
  }