$font: Arial, Helvetica, sans-serif;
$color: #ec3838;

#texto
{
    font-family: $font;
    font-size: 30px;
    color: $color;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
}

img
{
    width: 200px;

}