.dsc-footer {
  flex-flow: column wrap;
  height: auto;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
