<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./mystyle.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-1">
        <h1>Prueba de Temas</h1>
        <div class="divContenedor"><span>Caja de ejemplo 1</span></div>
        <div class="divContenedor"><span>Caja de ejemplo 2</span></div>
        <div id="divContenedorBoxShadow"><span>Caja de ejemplo 3</span></div>
        <p>Este texto se modificara según el tema</p>
        </div>       
  </body>
</html>