:root{
    font-size: medium;
    font-family:'times new roman', times, serif;
    color: hsl(239, 89%, 37%);
}

.divContenedor{
    border-radius: 4px;
    background-color: #caa233;
}
#divContenedorBoxShadow{
    border-radius: 2px;
    background-color: #00ff80;
    box-shadow:  8px 10px #3a0e0e;
}