<mat-toolbar color="white">
  <div *ngIf="!isLogged()">
    <a mat-button class="nav-button" routerLink="/"
    routerLinkActive="active">Home</a>
    <a mat-button class="nav-button" routerLink="/login"
   >Login</a>
    <a mat-button  class="nav-button"  routerLink="/about" >Acerca De</a>
  </div>
  <div *ngIf="isLogged()">
     <a mat-button  class="nav-button"  routerLink="/dashboard" >Dashboard</a>
     <a mat-button  class="nav-button"  routerLink="/galeria" >Galeria</a>
     <a mat-button  class="nav-button"  routerLink="/crud" >CRUD</a>
     <a mat-button  class="nav-button"  routerLink="/profile" >Profile</a>
  </div>
  <div *ngIf="isLogged()" style="margin-left: auto;">
    <a mat-button   class="nav-button"    routerLink="" [class.disabled]="true">Usuario:  {{username}}</a>
    <a mat-button  class="nav-button" routerLink="" (click)="logout()" >Logout</a>
  </div>

 </mat-toolbar>
