.mat-toolbar{
  background-color: white;
  color: white;
}
.mat-button{
   color: white;
}
.spacer{
  display: flex;
  align-items: baseline;
  margin-right: 2%;
  flex-wrap: wrap;
}
.nav-button{
  margin-right: 20px;
}


